@page "/"
@inject HttpClient Http
@using MonacoTest.Shared
@using System.Text
@using System.Text.Json

<!--코드 에디터를 변경시키는 드롭다운 메뉴-->
<div>
    <div style="margin:10px 0;">
        Theme:
        <select @onchange="ChangeTheme">
            <option value="vs">Visual Studio</option>
            <option value="vs-dark">Visual Studio Dark</option>
            <option value="hc-black">High Contrast Black</option>
        </select>
    </div>
    <div style="margin:10px 0;">
        Language:
        <select @onchange="ChangeLanguage">
            <!--TODO : Language 옵션 추가-->
            <option value="c">C</option>
            <option value="cpp">C++</option>
            <option value="csharp">C#</option>
            <option value="java">Java</option>
            <option value="python">Python</option>
            <option value="javascript">JavaScript</option>
            <option value="html">Html</option>
        </select>
    </div>
</div>

<!--Monaco Editor 컴포넌트 생성-->
<StandaloneCodeEditor @ref="editor" CssClass="my-editor-class" ConstructionOptions="EditorConstructionOptions" OnDidInit="EditorOnDidInit" OnContextMenu="OnContextMenu" />

<div>
    <button class ="btn btn-primary" @onclick="JudgeCode">Run Code</button>
</div>

<!--Monaco Editor css 설정-->
<style>
    .my-editor-class {
        height: 500px;
        width: 100%;
        border: 1px solid black;
    }

    .keyword {
        color: #d73a49; /* red */
        font-weight: bold;
    }

    .variable {
        color: #6f42c1; /* purple */
    }

    .function {
        color: #005cc5; /* blue */
    }

    .class {
        color: #22863a; /* green */
    }
</style>

@code {
    private async Task JudgeCode() {
        JudgeRequest judgeRequest = new JudgeRequest();
        judgeRequest.Code = await editor.GetValue();
        var model = await editor.GetModel();
        var language = await model.GetLanguageId();
        judgeRequest.Id = "123";

        var content = new StringContent(JsonSerializer.Serialize(judgeRequest), Encoding.UTF8, "application/json");
        var response = await Http.PostAsync("RunCode", content);

        if (response.IsSuccessStatusCode) {
            Console.WriteLine("Data posted successfully");

            JudgeResult? judgeResult = await response.Content.ReadFromJsonAsync<JudgeResult>();
            if (judgeResult != null) {
                switch (judgeResult.Result) {
                    case JudgeResult.JResult.Accepted:
                        Console.WriteLine("맞았습니다.");
                        Console.WriteLine("실행 시간(ms) : " + judgeResult.ExecutionTime);
                        Console.WriteLine("메모리 사용량(KB) : " + judgeResult.MemoryUsage);
                        break;
                    case JudgeResult.JResult.WrongAnswer:
                        Console.WriteLine("틀렸습니다.");
                        break;
                    case JudgeResult.JResult.CompileError:
                        Console.WriteLine("컴파일 에러");
                        break;
                    case JudgeResult.JResult.RuntimeError:
                        Console.WriteLine("런타임 에러");
                        break;
                    case JudgeResult.JResult.TimeLimitExceeded:
                        Console.WriteLine("시간 초과");
                        break;
                    case JudgeResult.JResult.MemoryLimitExceeded:
                        Console.WriteLine("메모리 초과");
                        break;
                    case JudgeResult.JResult.PresentationError:
                        Console.WriteLine("출력 형식 에러");
                        break;
                    case JudgeResult.JResult.OutputLimitExceeded:
                        Console.WriteLine("출력 한도 초과");
                        break;
                    case JudgeResult.JResult.JudgementFailed:
                        Console.WriteLine("채점 실패");
                        break;
                    case JudgeResult.JResult.Pending:
                        Console.WriteLine("채점 미완료");
                        break;
                }
            } else {
                Console.WriteLine("Result is null");
            }
        } else {
            Console.WriteLine("Failed to post data");
        }
    }

    // monaco editor 참조 변수
    private StandaloneCodeEditor editor = null;
    private string[] decorationIds = new string[0];

    // monaco editor의 Construction 옵션을 정의하여 반환한다.
    private StandaloneEditorConstructionOptions EditorConstructionOptions(StandaloneCodeEditor editor) {
        // TODO : 추후 사양에 따라 에디터 옵션 수정 필요
        return new StandaloneEditorConstructionOptions {
                Language = "c",
                GlyphMargin = true,
                Value = ""
        };
    }

    // didInitEditor 이벤트가 발생할 때 호출된다.
    private async Task EditorOnDidInit() {
        // 코드에 시각효과를 주는 Decoration을 정의한다.
        // TODO : 추후 사양에 따라 옵션 수정 필요
        var newDecorations = new ModelDeltaDecoration[] {
            new ModelDeltaDecoration {
                Range = new BlazorMonaco.Range(3, 1, 3, 1),
                    Options = new ModelDecorationOptions {
                    IsWholeLine = true,
                    ClassName = "decorationContentClass",
                    GlyphMarginClassName = "decorationGlyphMarginClass", 
                }       
            }
    };

        // 정의한 Decoration을 에디터에 적용한다.
        decorationIds = await editor.DeltaDecorations(null, newDecorations);

        //// decorationIds 배열에 저장된 이전 Decoration을 삭제한다.
        //await editor.DeltaDecorations(decorationIds, new ModelDeltaDecoration[] { });

        //// Editor에서 사용될 키워드와 타입, 함수, 변수 등의 스타일을 정의한다.
        //// 이 예시에서는 변수를 초록색, 키워드를 파란색, 함수를 청록색으로 스타일링한다.
        //var decorations = new List<ModelDeltaDecoration>();
        //var model = await editor.GetModel();
        //if (model != null) {
        //    string text = await model.GetValue(EndOfLinePreference.TextDefined, true);

        //    var keywordRegex = new Regex("\\b(int|double|float|char|void|if|else|for|while|do|return)\\b");
        //    var matches = keywordRegex.Matches(text);
        //    foreach (Match match in matches) {
        //        decorations.Add(new ModelDeltaDecoration {
        //                Range = new BlazorMonaco.Range(
        //                    model.GetPositionAt(match.Index).Result.LineNumber,
        //                    model.GetPositionAt(match.Index).Result.Column,
        //                    model.GetPositionAt(match.Index + match.Length).Result.LineNumber,
        //                    model.GetPositionAt(match.Index + match.Length).Result.Column
        //                ),
        //                Options = new ModelDecorationOptions {
        //                    InlineClassName = "keyword"
        //                }
        //            });
        //    }

        //    var variableRegex = new Regex("\\b([a-zA-Z_][a-zA-Z0-9_]*)\\b");
        //    matches = variableRegex.Matches(text);
        //    foreach (Match match in matches) {
        //        decorations.Add(new ModelDeltaDecoration {
        //                Range = new BlazorMonaco.Range(
        //                    model.GetPositionAt(match.Index).Result.LineNumber,
        //                    model.GetPositionAt(match.Index).Result.Column,
        //                    model.GetPositionAt(match.Index + match.Length).Result.LineNumber,
        //                    model.GetPositionAt(match.Index + match.Length).Result.Column
        //                ),
        //                Options = new ModelDecorationOptions {
        //                    InlineClassName = "variable"
        //                }
        //            });
        //    }

        //    var functionRegex = new Regex("\\b([a-zA-Z_][a-zA-Z0-9_]*)\\s*\\(");
        //    matches = functionRegex.Matches(text);
        //    foreach (Match match in matches) {
        //        decorations.Add(new ModelDeltaDecoration {
        //                Range = new BlazorMonaco.Range(
        //                    model.GetPositionAt(match.Index).Result.LineNumber,
        //                    model.GetPositionAt(match.Index).Result.Column,
        //                    model.GetPositionAt(match.Index + match.Length - 1).Result.LineNumber,
        //                    model.GetPositionAt(match.Index + match.Length - 1).Result.Column
        //                ),
        //                Options = new ModelDecorationOptions {
        //                    InlineClassName = "function"
        //                }
        //            });
        //    }

        //    var classRegex = new Regex("\\b(class)\\s+([a-zA-Z_][a-zA-Z0-9_]*)\\b");
        //}

        //decorationIds = await editor.DeltaDecorations(null, decorations.ToArray());
    }

    // 에디터에 우클릭 시 수행할 로직을 정의한다.
    private void OnContextMenu(EditorMouseEvent eventArg) {
        Console.WriteLine("OnContextMenu : " + System.Text.Json.JsonSerializer.Serialize(eventArg));
    }

    // Theme Select를 변경했을 때 호출된다.
    // 선택한 옵션에 따라 에디터의 Theme을 변경한다.
    private async Task ChangeTheme(ChangeEventArgs e) {
        await Global.SetTheme(e.Value?.ToString());
    }

    // Language Select를 변경했을 때 호출된다.
    // 선택한 옵션에 따라 에디터의 Language를 변경한다.
    private async Task ChangeLanguage(ChangeEventArgs e) {
        var model = await editor.GetModel();
        await Global.SetModelLanguage(model, e.Value?.ToString());
    }
}   